* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  height: 20vh;
  width: 100%;
  background-color: #3fa5e0;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 400;
}

.body_section {
  height: 80vh;
  width: 100%;
  background-color: #0a7dab;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
